@media (max-width: 1200px) {
  .scoreboard {
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    width: 95%;
    opacity: 0.7;
    border-radius: 8px;
    border: solid 1px #979797;
    background-color: #d8d8d8;
    text-align: center;
    padding: 1%;
  }
}

@media (min-width: 1200px) and (max-width: 1800px) {
  .scoreboard {
    margin-top: calc(450px - 20vw);
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    width: 100%;
    opacity: 0.7;
    border-radius: 8px;
    border: solid 1px #979797;
    background-color: #d8d8d8;
    text-align: center;
    padding: 20px 40px 20px 40px;
  }
}

@media (min-width: 1800px) {
  .scoreboard {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    width: 100%;
    opacity: 0.7;
    border-radius: 8px;
    border: solid 1px #979797;
    background-color: #d8d8d8;
    text-align: center;
    padding: 20px 40px 20px 40px;
  }
}

.scoreboard__label {
  font-size: 40px;
  color: #0f8bec;
}

.scoreboard__table {
  font-size: 24px;
  margin: 20px 0px 0px 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 20px;
}

.scoreboard__head {
  font-size: 30px;
  height: 50px;
  border-radius: 8px;
  border: solid 1px #979797;
  background-color: #287191;
  color: #FFFFFF;
}

.scoreboard__row {
  display: grid;
  grid-row-gap: 5px;
  grid-template-columns: 1fr 5fr 3fr 3fr;
  align-items: center;
}
