body {
	font-family: Helvetica, Arial, san-serif;
	font-size: 16px;
}

.scoreboard_container {
	background-color: none;
	border-radius: 10px;
	padding: 10px;
	margin: 20px 15% auto 15%;
	text-align: center;

	display: grid;
	grid-template-rows: 150px auto;
	grid-row-gap: 30px;
}

.scoreboard_header {
	background-color: #E1E1E1;
	border-radius: 10px;
	padding: 10px;

	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: auto;
	grid-template-areas: 
		"user_data score_data";

}

.scoreboard_user_data {
	grid-area: "user_data";

	display: grid;
	grid-template-rows: 80% 20%;
	grid-template-areas: 
		"user_img"
		"user_name";
	justify-content: center;
}

.scoreboard_img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.scoreboard_user_img {
	grid-area: "user_img";
}

.scoreboard_user_name {
	grid-area: "user_name";
}

.scoreboard_score_data {
	grid-area: score_data;
	padding-right: 50px;
	text-align: right;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: 
		"scoreboard_score_data_1"
		"scoreboard_score_data_2"
		"scoreboard_score_data_3";

}

.scoreboard_score_data_1 {
	grid-area: "scoreboard_score_data_1";
}

.scoreboard_score_data_2 {
	grid-area: "scoreboard_score_data_2";
}

.scoreboard_score_data_3 {
	grid-area: "scoreboard_score_data_3";
}

.scoreboard_table {
	background-color: #E1E1E1;
	border-radius: 10px;
	padding: 10px;

	display: grid;
	grid-gap: 10px;
	grid-template-rows: repeat(10, 1fr);
}

.scoreboard_table-row {
	display: grid;
	grid-template-columns: 1fr 4fr 2fr 2fr;
	grid-gap: 10px;
	grid-template-areas: 
		"scoreboard_column_1 scoreboard_column_2 scoreboard_column_3 scoreboard_column_4"
}

.scoreboard_table-row:hover {	
	background-color: #EFEFEF;
}

.scoreboard_col {
	padding: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #A1A1A1;
	background-color: none;
	border-radius: 10px;
}

.scoreboard_col_head {
	background-color: #71A1A1;
}

.scoreboard_column_1 {
	grid-area: scoreboard_column_1;
}

.scoreboard_column_2 {
	grid-area: scoreboard_column_2;
}

.scoreboard_column_3 {
	grid-area: scoreboard_column_3;
}

.scoreboard_column_4 {
	grid-area: scoreboard_column_4;
}