<!DOCTYPE html>
<html>
<head>
	<title>Score Board</title>
    <link rel="stylesheet" type="text/css" media="screen" href="scoreboard.css">
    <script src="scoreboard.js"></script>
</head>
<body>

	<div class="scoreboard_container">
		<div class="scoreboard_header">
			<div class="scoreboard_user_data">
				<img src="../../img/user.png" class="scoreboard_img scoreboard_user_img">					
				<a class="scoreboard_user_name" href="#">Гошан</a>
			</div>
			<div class="scoreboard_score_data">
				<a class="scoreboard_score_data_1">Счет: 17</a>
				<a class="scoreboard_score_data_2">Побед: 0</a>
				<a class="scoreboard_score_data_3">Поражений: 9999</a>
			</div>
		</div>
		<div class="scoreboard_table">
			<div class="scoreboard_table-row">
				<div class="scoreboard_col scoreboard_col_head scoreboard_column_1">
					<a>№</a>
				</div>
				<div class="scoreboard_col scoreboard_col_head scoreboard_column_2">
					<a href="#">Ник</a>
				</div>
				<div class="scoreboard_col scoreboard_col_head scoreboard_column_3">
					<a>Счет</a>
				</div>
				<div class="scoreboard_col scoreboard_col_head scoreboard_column_4">
					<a>Отношение побед</a>
				</div>
			</div>
			<div class="scoreboard_table-row">
				<div class="scoreboard_col column_1">
					<a>1</a>
				</div>
				<div class="scoreboard_col column_2">
					<a href="#">Никнейм 1</a>
				</div>
				<div class="scoreboard_col column_3">
					<a>777</a>
				</div>
				<div class="scoreboard_col column_4">
					<a>10.111</a>
				</div>
			</div>
			<div class="scoreboard_table-row">
				<div class="scoreboard_col scoreboard_column_1">
					<a>2</a>
				</div>
				<div class="scoreboard_col scoreboard_column_2">
					<a href="#">Никнейм 2</a>
				</div>
				<div class="scoreboard_col scoreboard_column_3">
					<a>776</a>
				</div>
				<div class="scoreboard_col scoreboard_column_4">
					<a>4.121</a>
				</div>
			</div>
			<div class="scoreboard_table-row">
				<div class="scoreboard_col scoreboard_column_1">
					<a>3</a>
				</div>
				<div class="scoreboard_col scoreboard_column_2">
					<a href="#">Никнейм 3</a>
				</div>
				<div class="scoreboard_col scoreboard_column_3">
					<a>756</a>
				</div>
				<div class="scoreboard_col scoreboard_column_4">
					<a>1.121</a>
				</div>
			</div>
		</div>
	</div>

</body>
</html>