<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../common/common.css" rel="stylesheet">
    <link href="scoreboard.css" rel="stylesheet">
	<title>Menu</title>
</head>
<body>
    <div class="scoreboard">
        <a class="scoreboard__label">Таблица лидеров</a>
        <div class="scoreboard__table">
            <div class="scoreboard__row scoreboard__head">
                <a class="scoreboard__row__col-1">№</a>
                <a class="scoreboard__row__col-2">Игрок</a>
                <a class="scoreboard__row__col-3">Счёт</a>
                <a class="scoreboard__row__col-4">Победы</a>
            </div>
            <div class="scoreboard__row">
                <a class="scoreboard__row__col-1">1</a>
                <a class="scoreboard__row__col-2">Гошан</a>
                <a class="scoreboard__row__col-3">999</a>
                <a class="scoreboard__row__col-4">7/10</a>
            </div>
            <div class="scoreboard__row">
                <a class="scoreboard__row__col-1">2</a>
                <a class="scoreboard__row__col-2">Ахмед</a>
                <a class="scoreboard__row__col-3">666</a>
                <a class="scoreboard__row__col-4">1/2</a>
            </div>
        </div>
        <div class="scoreboard__paginator">
            <a class="scoreboard__paginator__prev"><<</a>
            <a class="scoreboard__paginator__next">>></a>
        </div>
    </div>
</body>
</html>
