<form class="signin-form">
    {{> ../title/title.hbs title}}
    {{#each fields}}
        {{> ../input/input.hbs this}}
    {{/each}}
    {{> ../form-button/form-button.hbs button}}
    <a class="signin-form__advance" data-href="#">Или войдите с помощью других сервисов</a>
    <input class="signin-form__button-vk" type="button" value="VK">
    <a class="signin-form__signup-btn" data-href="/signup">Регистрация</a>
</form>