<form class="signin-form">
  {{> ../title/title.hbs title}}
  {{#each fields}}
  {{> ../input/input.hbs this}}
  {{/each}}
  <a class="error-area"></a>
  {{> ../form-button/form-button.hbs button}}
  {{> ../sign-button/sign-button.hbs sign}}
  {{> ../sign-button/sign-button.hbs menu}}
</form>