<form class="signin-form">
    <a class="signin-form__title">Войти</a>
    {{#each inputFields}}
        {{> ../input/input.handlebars this}}
    {{/each}}
    {{> ../form-button/form-button.handlebars button}}
    <a class="signin-form__advance">Или войдите с помощью других сервисов</a>
    <input class="signin-form__button-vk" type="button" value="VK">
</form>