.menu-bar__button {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  border-style: solid;
  border-color: #90a5a5;
  border-width: 2px;
  border-radius: 30px;
  padding: 15px;
  color: #0f8bec;
  background: #d8d8d860;
}

.menu-bar__button:hover {
  background-color: #d8d8d8dd;
  border-color: rgb(47, 155, 238);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.menu-bar__button:not(hover) {
  transition: 0.6s;
}

.menu-bar__button:active {
  color: #ffffff;
  background-color: #0f8bec;
}
