.menu-bar__button {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  border-style: solid;
  border-color: #90a5a5;
  border-width: 2px;
  border-radius: 30px;
  padding: 15px 0px 15px 0px;
  color: #0f8bec;
  background: #d8d8d860;
  /*
  background: #d8d8d860;
  animation: Grad 20s infinite ease;
  -webkit-animation: Grad 20s infinite ease;
  */
}

.menu-bar__button:hover {
  color: #ffffff;
  background-color: #0f8bec;
  border-color: #0f8bec;
  box-shadow: 0 0 20px #0f8bec7f;
  transition: 0.3s;
}

.menu-bar__button:active {
  color: #cfcfcf;
  background-color: #0b548b;
  border-color: #0b548b;
  box-shadow: 0 0 20px #0b548b9f;
  transition: 0.3s;
}

.menu-bar__button:not(hover) {
  transition: 0.6s;
}

/*
@keyframes Grad {
  0% {
    background-color: #d8d8d8dd;
  }
  50% {
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: #3c8ab0dd;
  }
  100% {
    background-color: #d8d8d8dd;
  }
}

@-webkit-keyframes Grad {
  0% {
    background-color: #d8d8d8dd;
  }
  50% {
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: #3c8ab0dd;
  }
  100% {
    background-color: #d8d8d8dd;
  }
}
*/