body {
  font-family: Helvetica, Arial, san-serif;
  font-size: 28px;
  outline: none;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  user-select: none;
}

.common {
  position: absolute;
  z-index: -1;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: url("../../img/background1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}