body {
	font-family: Helvetica, Arial, san-serif;
	font-size: 32px;
	background-image: url("../../img/background1.jpg");
	background-size: 100% 100%;
	outline: none;
}

input {
	outline: none;
}

a {
	text-decoration: none;
}