body {
  font-family: Helvetica, Arial, san-serif;
  font-size: 28px;
  background-image: url("../../img/background1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  outline: none;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  user-select: none;
}
