.profile-form {
  width: 800px;
  margin-top: 5%;
  padding: 20px 10px 20px 10px;

  opacity: 0.6;
  border-radius: 8px;
  border: solid 1px #979797;
  background-color: #d8d8d8;

  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: grid;
  grid-template-rows: auto;
}

.profile-form__card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-row-gap: 10px;
  margin-top: 20px;
}

.profile-form__input {
  padding-left: 15px; 
  width: 360px;
  height: 45px;
  opacity: 0.98;
  border-radius: 8px;
  border: solid 1px #267ea5;
  background-color: #d8d8d8;
  font-size: 60%;  
}

.profile-form__input:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.profile-form__fields-left {
  justify-content: center;
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 10px;

}

.profile-form__fields-right {
  justify-content: center;
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 10px;
}

.profile-form__image {
  width: 150px;
}

.profile-form__label { 
  font-size: 24px;
  color: #0f8bec;
}