<div class="view game-view">
  <div class="game-progress__good"></div>
  <div class="game-progress__bad"></div>
  <div class="scale">
    <canvas class="game-view__canvas js-canvas" width="400" height="700"></canvas>
  </div>
  <div class="game-bar">
    <a data-href="/" class="game-bar__menu">ВЫЙТИ</a>
    <a data-href="#" class="game-bar__score-label">Счёт:</a>
    <a data-href="#" class="game-bar__score-value">0</a>
  </div>
</div>
<a class="sound" data-href="#"><div class="sound_disable"></div></a>
<a class="block-content">Сори. Но мы пока не готовы работать на смартфоне :(</a>
