@import '../common/vars.css';

@media (max-width: 1200px) {
  .about {
    max-width: 800px;
    width: 95%;
    margin-top: 130px;

    opacity: 0.7;
    border-radius: 8px;
    border: solid 1px var(--formColor);
    background-color: #d8d8d8;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
}

@media (min-width: 1200px) and (max-width: 1800px) {
  .about {
    width: 800px;
    margin-top: calc(450px - 20vw);
    padding: 20px 10px 20px 10px;

    opacity: 0.7;
    border-radius: 8px;
    border: solid 1px var(--formColor);
    background-color: #d8d8d8;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
}

@media (min-width: 1800px) {
  .about {
    width: 800px;
    margin-top: 5%;
    padding: 20px 10px 20px 10px;

    opacity: 0.7;
    border-radius: 8px;
    border: solid 1px var(--formColor);
    background-color: #d8d8d8;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
}

.about__description {
  font-size: 24px;
}

@media (max-width: 1200px) {
  .dev-team {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .dev-team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.developer {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  grid-gap: 20px;
}

.developer__role {
  font-size: 20px;
}

.developer__image {
  object-fit: cover;
  object-position: center center;
  width: 100px;
  height: 100px;
  border: solid;
  border-color: #979797;
  border-radius: 50%;
}
<<<<<<< HEAD

=======
>>>>>>> develop

/*
.developer {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  grid-gap: 20px;

  &__role {
    font-size: 20px;
  }

  &__image {
    object-fit: cover;
    object-position: center center;
    width: 100px;
    height: 100px;
    border: solid;
    border-color: #979797;
    border-radius: 50%;
  }

  &__name {
    font-size: 20px;
  }
}
*/
<<<<<<< HEAD

=======
>>>>>>> develop
