<div class="about">
  {{> ../title/title.hbs title1}}
  <div class="about__description">
    Главная цель игры — забраться как можно выше по платформам и набрать как можно большее количество очков.<br>
    При падении игрок терпит поражение.<br>
    В многопользовательском режиме побеждает единственный оставшийся игрок.<br>
    Для игры по сети необходимо зарегистрироваться.<br>
    Управление в игре происходит с помощью стелок: <- и ->, а также кликом по левой и правой стороне дисплея.
  </div>
  {{> ../title/title.hbs title2}}
  <div class="dev-team">
    {{#each developers}}
    <div class="developer">
      <a data-href="#" class="developer__role">{{ this.role }}</a>
      <img class="developer__image" src={{ this.image }}>
      <a data-href="#" class="developer__name">{{ this.name }}</a>
    </div>
    {{/each}}
  </div>
</div>