.chat {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;

  background-color: #d8d8d880;
  border-color: #d8d8d800;
  border-radius: 20px;
  height: 500px;
  width: auto;
}

.chat__head {
}

.messages-area {
  background-color: #FFFFFF;
  width: 95%;
  height: 400px;;
}

.messages-area__message {
  margin: 10px;
  text-align: left;
  font-size: 16px;
  border: solid;
  border-color: #d8d8d800;
  background-color: #d8d8d800;
}

.message-input {
  width: 95%;
  height: 50px;
  display: grid;
  grid-template-columns: 8fr 2fr;
  grid-gap: 10px;
}

.message-input__input {
  border-radius: 20px;
  font-size: 12px;
}

.message-input__button {
  border-radius: 20px;
}