<div class="chat">
    <div class="chat__head">
        Чат
    </div>
    <div class="messages-area">
        <div class="messages-area__message">
            Сообщенице
        </div>
    </div>
    <div class="input-area">
        <input class="message-input">
    </div>
</div>