<div class="chat">
    <div class="chat__head">
        Чат
    </div>
    <div class="messages-area">
        <div class="messages-area__message">
            <a>Гошан</a>
            <a>Сообщение</a>
        </div>
    </div>
    <form class="message-input">
        <input class="message-input__input">
        <input class="message-input__button" type="submit" data-href="#">
    </form>
</div>