@import '../common/vars.css';

.form-button {
  max-width: 360px;
  width: 100%;
  height: 45px;
  border-radius: 8px;
  border: solid 1px #287191;
  background-color: var(--mainBlueColor);
  opacity: 1;
  font-size: 24px;
  color: #ffffff;
  align-self: center;
  justify-self: center;
}

.form-button:hover {
  background-color: var(--mainBlueColor);
  box-shadow: 0 0 20px #00000066;
  transition: 0.3s;
}

.form-button:not(hover) {
  transition: 0.6s;
}

.form-button:active {
  color: #ffffff;
  background-color: var(--mainBlueColor);
}
