*{
    font-family: Helvetica, Arial, san-serif;
}

.profile_container{
    margin: 8px 0px 0px 420px;
    width: 404px;
    height: 416px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-shadow: 0px 1px 1px #e0e0e0;
    padding: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    .profile_container_top{
        padding: 8px;
        
        .profile_title{
            font-size: 32px;
            font-weight: bold;
        }
        .profile_photo{
            height: 44px;
            width: 44px;
            border: 1px solid #f0f0f0;
            border-radius: 44px;
            background-color: #f0f0f0;
            text-align: center;
            align-content: center;
            margin: 24px 0px 32px 172px;
            padding: 4px 0px 0px 0px;
            font-size: 32px;
            font-weight: bold;
        }
        .left_data{
            font-weight: bold;
            left: 0px;
            grid-area: left-data;
            margin-right: auto;
        }
        .right_data{
            text-align: center;
            font-weight: bolder;
            margin: 0px auto 0px 40px;
            
            grid-area: right-data;
        }
        .profile_container_gridblock{
            display: grid;
            padding: 0px 92px 0px 88px;

        }
        .profile_data_1, .profile_data_2, .profile_data_3, .profile_data_4, .profile_data_5{
            font-size: 12px;
            margin-bottom: 12px;
            .profile_data_bottom_border_div{
                align-items: flex-start;
                border-bottom: 1px solid #e0e0e0;
                padding-bottom: 12px;
            }
            .profile_data_bottom_border_div{
                display: grid;
                grid-template: 1fr/1fr 1fr;
                grid-template-areas: "left-data right-data";
            }
        }
        .profile_data_5 .profile_data_bottom_border_div{
            border-bottom: 0px solid #e0e0e0;
        }
     }
    .profile_data_footer{
        margin-top: 4px;
         display: grid;
         grid-template: 1fr / 1fr 1fr;
         grid-template-areas: "profile_change_button profile_delete_button";
        a{
            border-radius: 4px;
            text-decoration: none;
            height: 20px;
            padding: 12px 20px 8px 20px;

            display: flex;
         }
        .profile_change_button{
            grid-area: profile_change_button;
            border: 1px solid #008079;
            background-color: #008079;
            margin: 8px 4px 0px 60px;
            color: white;
            svg{
                fill: white;
                margin-right: 12px;
            }
         }
        .profile_delete_button{
            grid-area: profile_delete_button;
            border: 1px solid #ededed;
            background-color: #f7f7f7;
            margin: 8px 60px 0px 4px;
            color: #9c9c9c;
            svg{
                fill: #9c9c9c;
                margin-right: 12px;
            }
         }
     }
}