.signup-form {
  margin: 5% auto;
  max-width: 420px;
  width: 95vw;
  opacity: 0.7;
  border-radius: 8px;
  border: solid 1px var(--formColor);
  background-color: #d8d8d8;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 10px;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 30px;
}