.signup-form {
  margin: 5% auto;
  width: 420px;
  opacity: 0.7;
  border-radius: 8px;
  border: solid 1px #979797;
  background-color: #d8d8d8;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 10px;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  user-select: none;
}

.signup-form__input-area {
  display: grid;
  grid-template-rows: auto;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  user-select: none;
}

.signup-form__label {
  text-align: left;
  color: #0f8bec;
  font-size: 27px;
}

.signup-form__input {
  padding-left: 15px;
  width: 360px;
  height: 45px;
  opacity: 0.98;
  border-radius: 8px;
  border: solid 1px #3c8ab0;
  background-color: #d8d8d8;
  font-size: 60%;
}

.signup-form__button:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.signup-form__button {
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  height: 45px;
  border-radius: 8px;
  border: solid 1px #979797;
  background-color: #d9dd63;
  opacity: 1;
}

.signup-form__button:hover {
  background-color: #d5db25;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.signup-form__button:not(hover) {
  transition: 0.6s;
}

.signup-form__button:active {
  color: #FFFFFF;
  background-color: rgb(255, 255, 0);
}

.signup-form__advance {
  display: none !important;
  width: 380px;
  height: 21px;
  font-size: 18px;
  color: #ffffff;
  opacity: 1;
}

.signup-form__button-vk {
  display: none !important;
  margin-left: auto;
  margin-right: auto;
  width: 36px;
  height: 36px;
  border-radius: 2px;
  border: solid 1px #979797;
  background-color: #5b88bd;
  color: #ffffff;
  opacity: 1;
}