<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../common/common.css" rel="stylesheet">
    <link href="signup.css" rel="stylesheet">
	<title>Menu</title>
</head>
<body>
    <form class="signup-form">
        <a class="signup-form__title">Регистрация</a>
        <div class="signup-form__input-area">
            <a class="signup-form__label">Логин</a>
            <input class="signup-form__input" type="text" name="nickname"  placeholder="Логин">
        </div>
        <div class="signup-form__input-area">
            <a class="signup-form__label">Email</a>
            <input class="signup-form__input" type="text" name="email"  placeholder="Почта">
        </div>
        <div class="signup-form__input-area">
            <a class="signup-form__label">Пароль</a>
            <input class="signup-form__input" type="text" name="password"  placeholder="Пароль">
        </div>
        <div class="signup-form__input-area">
            <a class="signup-form__label">Пароль ещё раз</a>
            <input class="signup-form__input" type="text" name="password_repeat"  placeholder="Пароль">
        </div>
        <input class="signup-form__button" type="submit" value="Войти">
        <a class="signup-form__advance">Или войдите с помощью других сервисов</a>
        <input class="signup-form__button-vk" type="button" value="VK">
    </form>
</body>
</html>
