@import '../common/vars.css';

@media (max-width: 1200px) {
  .store {
    width: 100%;
    margin-top: 130px;
    opacity: 0.7;
    border-radius: 8px;
    border: solid 1px var(--formColor);
    background-color: #d8d8d8;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
}

@media (min-width: 1200px) {
  .store {
    width: 800px;
    margin-top: 5%;
    padding: 20px 10px 20px 10px;
    opacity: 0.7;
    border-radius: 8px;
    border: solid 1px var(--formColor);
    background-color: #d8d8d8;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
}

@media (max-width: 1200px) {
  .store-list {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
}

@media (min-width: 1200px) {
  .store-list {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
}

.product-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  text-align: center;
  vertical-align: middle;
  justify-items: center;
  align-items: center;
}

.product-row_image {
  width: 70px;
  height: 70px;
  border-radius: 10%;
}

.product-row_name {
  font-size: 24px;
}

.product-row_cost {
  font-size: 24px;
  color: #0f8bec;
}

@media (max-width: 1200px) {
  .product-row_btn {
    width: 80px;
    height: 40px;
    background-color: #0f8bec;
    border-radius: 10%;
    color: #ffffff;
  }
}

@media (min-width: 1200px) {
  .product-row_btn {
    width: 100px;
    height: 40px;
    background-color: #0f8bec;
    border-radius: 10%;
    color: #ffffff;
  }
}