* {
  font-family: Helvetica, Arial, san-serif;
}

.registration_container {
  margin: 8px 0px 0px 420px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  width: 420px;
  height: auto;
}

.registration_container .registration_title {
  font-weight: bold;
  font-size: 32px;
  padding: 16px 0px 12px 20px;
  border-bottom: 1px solid #e5e5e5;
}

.registration_container .registration_body {
  padding: 16px 16px 24px 16px;
}

.registration_container .registration_body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration_container .registration_body form .registration_inscription_name {
  font-size: 15px;
  color: #9d9d9d;
}

.registration_container .registration_body form .registration_input_name, .registration_container .registration_body form .registration_input_lastname, .registration_container .registration_body form .registration_input_email, .registration_container .registration_body form .registration_input_password, .registration_container .registration_body form .registration_input_repassword {
  margin: 8px 0px 4px 0px;
  padding: 4px 0px 0px 12px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  height: 36px;
  font-weight: 500;
  font-size: 16px;
}

.registration_container .registration_body form .registration_input_footer_divblock {
  margin: 32px 0px 8px 0px;
}

.registration_container .registration_body form .registration_input_footer_divblock .registration_input_footer_divblock_registration, .registration_container .registration_body form .registration_input_footer_divblock .registration_input_footer_divblock_menu {
  margin-right: 8px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 0.8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: #40c781;
  -webkit-box-shadow: 0 -3px #35a76e inset;
          box-shadow: 0 -3px #35a76e inset;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.registration_container .registration_body form .registration_input_footer_divblock .registration_input_footer_divblock_registration:hover, .registration_container .registration_body form .registration_input_footer_divblock .registration_input_footer_divblock_menu:hover {
  background: #35a76e;
}

.registration_container .registration_body form .registration_input_footer_divblock .registration_input_footer_divblock_registration:active, .registration_container .registration_body form .registration_input_footer_divblock .registration_input_footer_divblock_menu:active {
  background: #21935a;
  -webkit-box-shadow: 0 3px #21935a inset;
          box-shadow: 0 3px #21935a inset;
}

.registration_container .registration_body form .registration_input_footer_divblock .registration_input_footer_divblock_menu {
  margin-right: 0px;
  padding-right: 100px;
  background: #1d65c2;
  -webkit-box-shadow: 0 -3px #1b17d8 inset;
          box-shadow: 0 -3px #1b17d8 inset;
}

.registration_container .registration_body form .registration_input_footer_divblock .registration_input_footer_divblock_menu:hover {
  background: #1b17d8;
}

.registration_container .registration_body form .registration_input_footer_divblock .registration_input_footer_divblock_menu:active {
  background: #5d5bdd;
  -webkit-box-shadow: 0 3px #5d5bdd inset;
          box-shadow: 0 3px #5d5bdd inset;
}
/*# sourceMappingURL=registration.css.map */