@import '../common/vars.css';

.input-area {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 10px;
  text-align: center;
  vertical-align: middle;
  user-select: none;  
  max-width: 360px;
  width: 100%;
  align-self: center;
  justify-self: center;
  position: relative;
}

.input-area__label {
  text-align: left;
  color: #0f8bec;
  font-size: 24px;
}

.input-area__input {
  max-width: 360px;
  width: 100%;
  padding-left: 15px;
  height: 45px;
  opacity: 0.98;
  border-radius: 8px;
  border: solid 1px #267ea5;
  background-color: #d8d8d8;
  font-size: 60%;
}

.input-area__input:active {
  box-shadow: 0 0 20px #00006F66;
  transition: 0.3s;
}

.input-area__input_wrong {
  border: solid 1px #ff0000;
  animation: wrong-mov 0.1s ease-in 0s 2 reverse both;
}

.input-area__icon {
  position: absolute;
  top: 52px;
  right: 16px;
  width: 16px;
  height: 16px;
  fill: var(--mainBlueColor);
}

@keyframes wrong-mov {
    from{transform:translateX(0px)}
    to{transform:translateX(5px)}
}

