body {
	font-family: Helvetica, Arial, san-serif;
	font-size: 24px;
	margin: 0px;
}

.navbar_container {
	width: 100%;
	height: 50px;
	background-color: #7F7F7F;

	display: flex;
	flex-direction: row;
	align-items: center;
}

.navbar_back_btn {
	margin: 0px 0px 0px 30px;
}

.navbar_page_name {
	margin: auto auto auto auto;
}

.navbar_user {
	margin: 0px 30px 0px 0px;
}