@import '__button/__button.css';

@media (max-width: 1200px) {
  .menu-bar {
    margin-top: 130px;
    display: grid;

    grid-template-rows: auto;
    grid-gap: 8px;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) and (max-width: 1800px) {
  .menu-bar {
    margin-top: calc(450px - 20vw);
    display: grid;

    grid-template-rows: auto;
    grid-gap: 8px;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1800px) {
  .menu-bar {
    margin-top: 5%;
    display: grid;

    grid-template-rows: auto;
    grid-gap: 8px;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
}
