{{> ../project-title/project-title.hbs}}
<div class="menu-bar">
  {{#if isAuth}}
    {{#each menuButtons}}
      {{> ./__button/__button.hbs this}}
    {{/each}}
  {{else}}
    {{#each menuButtons}}
      {{#if this.public}}
        {{> ./__button/__button.hbs this}}
      {{/if}}
    {{/each}}
  {{/if}}
</div>
<div class="svistelka-perdelka">
  <div class="platform"></div>
  <div class="ball"></div>
</div>
