<div class="userbar">
  <img class="userbar__image" src={{image}} data-href="/profile">
  <a class="userbar__nickname" data-href="/profile">
    {{nickname}}
  </a>
  <a class="userbar__score" data-href="/users">
    {{score}}
  </a>
  <a class="userbar__menu" data-href="/">МЕНЮ</a>
  <a class="userbar__door" data-href="#">ВЫЙТИ</a>
</div>