<div class="userbar">
  <img class="userbar__image" src={{image}} data-href="/profile">
  <a class="userbar__nickname" data-href="/profile">
    {{nickname}}
  </a>
  <div class="app-actions">
    {{#if isAuth}}
      <a class="app-actions__label" data-href="/">МЕНЮ</a>
      <a class="app-actions__label app-actions__out" data-href="#">ВЫХОД</a>
    {{else}}
      <a class="app-actions__label" data-href="/">МЕНЮ</a>
      <a class="app-actions__label" data-href="/signin">ВХОД</a>
    {{/if}}
  </div>
</div>